<a href="https://colab.research.google.com/github/QMBC-Python/QMBC-Python.github.io/blob/main/content/Pandas_DataExploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Optional Pandas Practice

MoveLens users data exploration
We will be exploring a dataset of information about users of MovieLens (a movie recommender system). I will not have gone over every single command - use Google and Pandas documentation!

There are not tests of this notebook but you can check the solutions.

This dataset is originally from https://grouplens.org/datasets/movielens/100k/.

We are using a version hosted by https://github.com/justmarkham/pandas-videos.

This exercise is adapted from https://github.com/guipsamora/pandas_exercises.

This git repo has many pandas exercises with datasets and solutions - I highly recommend checking it out if you want more practice!

In [ ]:
import pandas as pd

We will first load in the dataset of users of MovieLens.

In [ ]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', 
                      sep='|', index_col='user_id')

### **1) Look at first 25 entries**

### **2) Look at the last 10 entries**

### **3) How many users are contained in this dataset?**

### **4) What is the data type of each column?**

### **5) Print the occupation column**

### **6) What is the most frequent occupation?**

### **7) Summarize the dataset (get count/mean/std/etc of each column)**

Hint: can do this in single command

### **8) How many female writers are there in this dataset?**

### **9) What is the average age of the female writers?**

### **10) How many men over 50 are in the dataset?**

### **11) What is the mean age per occupation?**

### **12) Can you list out the min and max age by occupation?**

Hint: [agg](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.agg.html)

### **13) (Advanced) Create a new column with gender as binary 0 or 1**

(Please note I am not at all endorsing the view that gender is binary!!! We just have F and M in  this dataset.)

Hint: you could create a function and use apply

### **14) (Advanced) Get the male to female ratio of each occupation**

### **15) Sort the occupations by largest male to female ratio to smallest**